@charset "UTF-8";

/* CSS Document */

/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

main {
  flex-direction: row;
  align-content: center;
  width: 90%;
  margin: auto;
}

h1 {
  padding: 20px 10px 20px 0px;
}

h2, div, p {
  margin-bottom: 10px;
}

.boxes{
  border-radius: 10px;
  padding: 20px;
}

#startingIngredients{
  height: 400px;
  width: 500px;
  background-color: pink;
  float: left;
}

#recipeResults{
  height: 400px;
  width: 500px;
  background-color: lightblue;
  float: right;
}
