* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 1000px;
  /*background: linear-gradient(205deg, #333, indigo);*/
  background-color: antiquewhite;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1,
article {
  margin-left: 12px;
}

h1 {
  position: relative;
  top: 5px;
  left: 24px;
  z-index: 1;
  color: deeppink;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  font-weight: normal;
}

article {
  position: relative;
  top: -8px;
  width: 80%;
  padding: 24px;
  color: antiquewhite;
  border-radius: 18px;
  background-color: #222;
}

div {
  margin: 5px;
}

label {
  width: 1.5in;
  text-align: right;
  display: inline-block;
  padding-right: 14px;
}

input[type="text"] {
  width: 3in;
  padding: 18px;
  border: none;
  /*remove default*/
  border-radius: 3px;
  border-bottom: 8px deeppink solid;
  background-color: hotpink;
  color: antiquewhite;
  font-weight: bold;
  font-size: 18px;
}

input[type=text]:focus {
  border-bottom: 8px cornflowerblue solid;
  background-color: orange;
  color: black;
}

input[type="reset"],
input[type="submit"] {
  position: relative;
  left: 1.77in;
  top: 14px;
  padding: 12px;
  border: none;
  /*remove default*/
  border-radius: 3px;
  border-bottom: 4px orange solid;
  background-color: antiquewhite;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

section {
  margin-top: 36px;
  padding-left: 12px;
}