/* CSS for topic brainstorm process */

body {
  font-family: sans-serif;
}

p {
  width: 600px;
  display: block;
  margin: auto;
  padding: 1em;
}

img {
  width: 600px;
  display: block;
  margin: auto;
}
