@charset "UTF-8";

/* This is Tara's Studio 3 DES 157 CSS Document */


/* This is Eric Meyer's Reset:
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ==========================================================================
============================Put Ya Code Below Here!==========================
============================================================================= */

body {
  background-color: tan;
  color: white;
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
}

main {
  position: relative;
  width: 900px;
  height: 1250px;
  margin: auto;
  margin-top: 2%;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

button {
  width: 100px;
  height: 100px;
  opacity: .25;
  background-color: lightblue;
  border: none;
}


/*#basicButton {
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: 200px;
  margin-top: 200px;
  background-color: lightblue;
}*/

#glendacardButton {
  position: absolute;
  top: 300px;
  right: 0px;
  width: 190px;
  height: 150px;
}

#twodollarButton {
  position: absolute;
  top: 1020px;
  left: 190px;
  width: 170px;
  height: 80px;
}

#icecreamButton {
  position: absolute;
  top: 310px;
  left: 15px;
  width: 120px;
  height: 270px;
}

#keysButton {
  position: absolute;
  top: 100px;
  right: 150px;
  width: 130px;
}

#sfcardButton {
  position: absolute;
  top: 680px;
  right: 10px;
  width: 130px;
  height: 190px;
}


/* END BUTTONS */

#transparency {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 2000px;
  color: #fff;
  background-color: #000;
  opacity: .50;
  display: none;
}

#popup {
  position: absolute;
  margin-top: 55%;
  left: 40%;
  width: 400px;
  height: 300px;
  color: #fff;
  background-color: tan;
  display: none;
}

#popupPara {
  width: 300px;
  height: 100px;
  margin: 20px;
  float: left;
}

#close {
  float: right;
  margin: 20px;
}

footer {
  position: absolute;
  margin-top: 50px;
  margin-left: 1000px;
}

a {
  color: white;
}
