/* Practice blog site for DES 157 at UC Davis
Contact Tara at TaraMakes.com
Flexbox method referenced from https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/
*/


/* BEGIN: Reset code by E. Meyer */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
===================stop==scrolling==up==too==far==!===================
===================stop==scrolling==up==too==far==!===================
===================stop==scrolling==up==too==far==!===================

BEGIN: My own code

BEGIN: Layout & responsiveness

*/

body {
    margin: 1%;
    display: flex;
    flex-direction: column;
    font-family: 'Old Standard TT', serif;
    background-color: transparent;
}

header {
    background-color: transparent;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

nav {
    background-color: transparent;
}

nav ol li {
    display: inline;
    margin: .5%;
}

footer {
    background-color: lightyellow;
    text-align: center;
}


/* Not currently using an Aside tag, however I want to keep this here to reference how to creat one in the future.
aside {
  background-color: white;
} */


/* Above viewport widths of 800px, layout will follow the below style rules. */

@media (min-width: 800px) {
    header {
        margin-left: 100px;
        text-align: left;
    }
    main {
        flex-direction: row;
    }
    .blog-posts {
        width: 80%;
        max-width: 700px;
    }
    /* Not currently using aside so I removed a ", aside" after nav below*/
    nav {
        flex: 0 0 200px;
    }
    nav ol li {
        display: block;
    }
    footer ul li {
        display: inline;
        margin: .5%;
    }
}


/*
BEGIN: Typography and letterspacing
*/

header {
    margin-bottom: 1em;
}

header h1 {
    font-size: 4em;
    margin-bottom: .25em;
}

time {
    font-size: 1em;
    font-style: italic;
}

nav h3 {
    font-size: 1.5em;
}

.blog-posts {}

.blog-posts article {}

.blog-posts article H2 {
    font-size: 3em;
}

.blog-posts article p {}

header, nav, p, ol, li, footer {
    margin-top: 1em;
}
